/* HTML Tags */
body {
    color: black; /* useless, to silence warnings */
}
   
/* IDs */
#formBox {
    color: black; /* useless, to silence warnings */
}
   
/* Classes */
.center {
    text-align: center;
    justify-content: center;
    margin: auto;
}